<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Hybrid Framework Application">
    
   
    
  <test name="Hybrid Framework Test Cases">
    <classes>
      <class name="com.hybrid.qa.testcases.LoginPageTest"/>
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->